.topbar {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 1000;
  font-family: "Lobster", sans-serif;
  background: transparent;
  pointer-events: none;
}


.topbar-title {
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: 0 0 5px #1f6f1f, 0 0 10px #2ecc71;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.glow-button {
  background-color: #378027;
  color: white;
  padding: 0.9rem 1.3rem;
  border-radius: 13px;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
   transition: all 0.3s ease;
  animation: wave 1.5s ease-in-out infinite;
  pointer-events: auto; 
  
}

.glow-button:hover {
  transform: scale(1.05);
  background-color: #1c4314;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
}