.topbar {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 1000;
  font-family: "Lobster", sans-serif;
  background: transparent;
  pointer-events: none; 
}


.topbar-logo {
  height: 6rem; 
  object-fit: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.glow-button {
  background-color: #378027;
  color: white;
  padding: 0.9rem 1.3rem;
  border-radius: 13px;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
   transition: all 0.3s ease;
  animation: wave 1.5s ease-in-out infinite;
  pointer-events: auto;
   border: 3px solid #39FF14;
}

.glow-button:hover {
  transform: scale(1.05);
  background-color: #1c4314;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
}

/* Tablets (max-width: 900px) */
@media (max-width: 900px) {
  .topbar {
    height: 50px;
    padding: 0 1rem;
    justify-content: center; 
  }

  .topbar-logo {
    height: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .glow-button {
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    border-radius: 10px;
  }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
  .topbar {
    height: 45px;
    padding: 0 0.75rem;
    justify-content: flex-end;
    pointer-events: auto; 
  }

  .topbar-logo {
    height: 3.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .glow-button {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
  }
}
